
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Page Header -->
    <header class="smallhead" style="background-image: url('/img/siru_banner_small.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <br />
                        <h1 style="color:#b30000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Srijana's Blog</h1>
                        @*<h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                            <span class="meta">
                                Posted by
                                <a href="#">Start Bootstrap</a>
                                on August 24, 2019
                            </span>*@
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Hi, I am Srijana, a full stack .NET developer, with experiences in both front-end and back-end application development. I have developed front-end responsive applications using HTML, CSS, JavaScript and Bootstrap. I have experience with .NET Framework for web-based client/server applications, using technologies like C#, Web Services, SQL Server. I am well-versed with writing SQL queries for data retrieval and manipulation.</p>
                <p>In addition to skills in .NET technologies, I have experience in Microsoft Business Intelligence stack, comprising of SSIS and SSRS. I am also well-versed in design of Universes is SAP Business Objects and development of WebI reports and Crystal Reports. I have basic knowledge in data modeling and dashboard design using visualization tool like QlikView. I have a Bachelor's degree in Computer Science.</p>
                <p>Welcome to my blog site.</p>
            </div>
        </div>
    </div>

    <hr>
</body>

</html>
