@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<!-- Page Header -->
<header class="smallhead" style="background-image: url('/img/siru_banner_small.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <br />
                    <h1 style="color:#b30000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Srijana's Blog</h1>
                    @*<h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">
                            Posted by
                            <a href="#">Start Bootstrap</a>
                            on August 24, 2019
                        </span>*@
                </div>
            </div>
        </div>
    </div>
</header>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

